.note-display-div{
    margin-top: 50px;
    margin-left: 10px;
}
.notes{
    border-radius: 20px;
    outline: none;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.profile-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
.profile-content-name{
    font-size: larger;
    font-weight: 600;
}
.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 15px;
}
.profile-content-icon{
    margin-top: 20px;
}